DATABASE_URL="postgresql://postgres:postgres@localhost:5432/monorepo"

DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=
DB_NAME=monorepo

JWT_SECRET=""

PORT=5000
FRONTEND_URL=
FRONTEND_LAN_URL=